Source: hairycandy
Section: misc
Priority: optional
Maintainer: Paul Tagliamonte <paultag@ubuntu.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.3
Homepage: http://pault.ag/

Package: hairycandy-base
Architecture: all
Recommends: vim-hairycandy
Depends: ${shlibs:Depends}, ${misc:Depends}, ${hairy:Depends}
Description: base package for hairy candy
 This package is a metapackage for the hairycandy setup.
 Really, this is just filler-text, you don't have to pay too much
 mind to all this. Don't worry about it.
 .
 Extra line to trick lintian.

Package: hairycandy-devel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${hairy:Depends}
Description: package for the development setup
 This package is a metapackage for the hairycandy setup.
 Really, this is just filler-text, you don't have to pay too much
 mind to all this. Don't worry about it.
 .
 Extra line to trick lintian.

Package: hairycandy-desktop
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${hairy:Depends}
Description: package for the development setup
 This package is a metapackage for the hairycandy setup.
 Really, this is just filler-text, you don't have to pay too much
 mind to all this. Don't worry about it.
 .
 Extra line to trick lintian.

Package: vim-hairycandy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${hairy:Depends}
Description: package for making vim a bit more compfy
 This package is a metapackage for the hairycandy setup.
 Really, this is just filler-text, you don't have to pay too much
 mind to all this. Don't worry about it.
 .
 Extra line to trick lintian.

Package: hairycandy-serving-suggestions
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${hairy:Depends}
Description: metapackage for the whole kit and kaboodle
 This package is a metapackage for the hairycandy setup.
 Really, this is just filler-text, you don't have to pay too much
 mind to all this. Don't worry about it.
 .
 Extra line to trick lintian.
