Source: hairycandy
Section: misc
Priority: optional
Maintainer: Paul Tagliamonte <paultag@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://archive.pault.ag/
Vcs-Git: git://github.com/paultag/hairycandy.git
Vcs-Browser: https://github.com/paultag/hairycandy

Package: hairycandy-base
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 screen,
 mutt-patched,
 heirloom-mailx,
 python (>= 2.7~),
 virtualenvwrapper
Recommends: vim-hairycandy
Description: base metapackage for all installs
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains all sorts of base kruft.
 .
 Get gross.

Package: vim-hairycandy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 vim,
 vim-addon-manager
Description: collection of vim plugins and syntax modules
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains vim sanity.
 .
 Get gross.

Package: hairycandy-awesome
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 awesome,
 fbautostart,
 hairycandy-desktop
Description: awesome window manager metapackage shim to autostart things
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains a shim for awesome window manager.
 .
 Get gross.

Package: hairycandy-desktop
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 hairycandy-base,
 cheese,
 gdm3 | gdm,
 seahorse,
 redshift,
 gimp,
 inkscape
Description: desktop metapackage & defaults
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains all sorts of sanity for any desktop
 machine.
 .
 Get gross.

Package: hairycandy-serving-suggestions
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 hairycandy-awesome,
 hairycandy-devel
Description: global metapackage for how things should tase
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains all the kruft Paul needs to
 consider the machine a sane install.
 .
 Get gross.

Package: hairycandy-devel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 git,
 bzr,
 subversion,
 sbuild,
 packaging-dev,
 git-buildpackage,
 svn-buildpackage,
 build-essential
Description: development metapackage & related stuff
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains base kruft for all development
 focused installs.
 .
 Get gross.

Package: dput-ng-hairycandy
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 dput-ng
Description: dput-ng targets for paul's setup
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains dput targets paul thinks are worth his
 while.
 .
 Get gross.

Package: hairycandy-plymouth
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
 plymouth,
 plymouth-drm
Description: plymouth bootthingers.
 Hairy Candy is a set of configuration packages for Paul's global defaults.
 These contain lots and lots of insane defaults that catch Paul's fancy.
 .
 This particular package contains boot sexyness.
 .
 Get gross.
